name: Build and Push Docker Image

on:
  push:
    branches:
      - main  # Change this if you're using a different branch

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: berezovsky8
          password: 

      - name: Build Docker Image
        run: docker build -t berezovsky8/devops-app:latest .

      - name: Push Docker Image to Docker Hub
        run: docker push berezovsky8/devops-app:latest

      - name: Run the container
        run: docker run -d --name devops-python-app-container berezovsky8/devops-app:latest
